* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cormorant Infant;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-desktop {
    display: flex;
    justify-content: center;
    gap: 1.8rem;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFE4E3 100%);
}

.header-desktop-logo {
    height: 7.8rem;
}

.header-desktop-nav {
    display: flex;
    gap: 3rem;
}

.header-desktop-nav>a {
    color: rgba(18, 42, 132, 1);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
}

.header-desktop-nav>a:hover {
    font-style: italic;
}

.header-desktop-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.header-desktop-phone>img {
    height: 5rem;
}

.header-desktop-phone>span {
    color: rgba(18, 42, 132, 1);
    font-size: 2rem;
    font-weight: 600;
}

.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFE4E3 100%);
}

.header-mobile-logo {
    height: 2.5rem;
}

.header-mobile-menu {
    height: 1rem;
}

.header-mobile-phone {
    color: rgba(18, 42, 132, 1);
    text-decoration: none;
}

main {
    flex: 1 1 auto;
}

.footer-desktop {
    display: flex;
    justify-content: center;
    gap: 3.8rem;
    align-items: center;
    padding: 0.6rem;
    background: linear-gradient(180deg, #FFE4E3 0%, #FFFFFF 100%);
}

.footer-desktop-logo {
    height: 2.5rem;
}

.footer-desktop-nav {
    display: flex;
    gap: 3.8rem;
}

.footer-desktop-nav>a {
    color: rgba(18, 42, 132, 1);
    font-size: 1.5rem;
    text-decoration: none;
}

.footer-desktop-nav>a:hover {
    text-decoration: underline;
}

.footer-desktop-social-media {
    display: flex;
    gap: 1.5rem;
}

.footer-desktop-social-media img {
    height: 3rem;
}

.footer-desktop-phone {
    font-size: 2rem;
    font-weight: 600;
    color: rgba(18, 42, 132, 1);
    text-decoration: none;
}

.footer-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFE4E3 100%);
}

.footer-mobile-logo {
    height: 2rem;
}

.footer-mobile-social-media {
    display: flex;
    gap: 1rem;
}

.footer-mobile-social-media img {
    height: 3rem;
}

@media (max-width: 1199px) {
    html {
        font-size: 50px;
    }

    .header-desktop {
        display: none;
    }

    .footer-desktop {
        display: none;
    }
}

@media (min-width: 1200px) {
    .header-mobile {
        display: none;
    }

    .footer-mobile {
        display: none;
    }
}

@media (min-width: 2000px) and (max-width: 2999px) {
    html {
        font-size: 24px;
    }
}

@media (min-width: 3000px) and (max-width: 3999px) {
    html {
        font-size: 32px;
    }
}

@media (min-width: 4000px) {
    html {
        font-size: 40px;
    }
}