* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cormorant Infant;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    gap: 1.8em;
    align-items: center;
    padding: 1em;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFE4E3 100%);
}

.header-logo {
    height: 7.8em;
}

.header-nav {
    display: flex;
    gap: 3em;
}

.header-nav>a {
    color: rgba(18, 42, 132, 1);
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}

.header-nav>a:hover {
    font-style: italic;
}

.header-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.header-phone>img {
    height: 5em;
}

.header-phone>span {
    color: rgba(18, 42, 132, 1);
    font-size: 2em;
    font-weight: 600;
}

main {
    flex: 1 1 auto;
}

footer {
    display: flex;
    justify-content: center;
    gap: 3.8em;
    align-items: center;
    padding: 0.6em;
    background: linear-gradient(180deg, #FFE4E3 0%, #FFFFFF 100%);
}

.footer-logo {
    height: 2.5em;
}

.footer-nav {
    display: flex;
    gap: 3.8em;
}

.footer-nav>a {
    color: rgba(18, 42, 132, 1);
    font-size: 1.5em;
    text-decoration: none;
}

.footer-nav>a:hover {
    text-decoration: underline;
}

.footer-social-media {
    display: flex;
    gap: 1.5em;
}

.footer-social-media>img {
    height: 3em;
}

.footer-phone {
    font-size: 2em;
    font-weight: 600;
    color: rgba(18, 42, 132, 1);
    text-decoration: none;
}