html,
body {
    font-family: Cormorant Infant;
}

header {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 15px;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFE4E3 100%);
}

.header-nav {
    display: flex;
    gap: 50px;
}

.header-nav > a {
    color: rgba(18, 42, 132, 1);
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}

.header-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-phone > a {
    color: rgba(18, 42, 132, 1);
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
}